/* 눈누 */
@font-face {
  font-family: 'CookieRun-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* 구글폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');



html, body{
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  color: #333;
  background-color: #E0F4FF;
}

.header{
  max-width: 1240px;
  width: 90%;
  height: 120px;
  background: #fff;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 5px 0px #ced4da;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: relative; /* submenu 기준점 */
  z-index: 10;
}
.logo{
  margin-left: 40px;
}
.menu{
  display: flex;
  align-self: flex-end;
}
.menu>li{ 
  display: flex;
  align-items: center;
}
.menu>li:nth-child(1)~li::before{
  content: ":";
  color: #ccc;
}
.menu>li>a{
  font-family: 'CookieRun-Regular';
  font-size: 17px;
  display: block;
  line-height: 70px;
  padding: 0 50px;
  border-bottom: 5px solid #fff; /* hover 되면 색변경 */
}
.submenu{
  max-width: 1240px;
  width: 100%; /* absolute 했으니 width 값 필수 */
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 120px;
  z-index: 10;
  border-top: 1px solid #ddd;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 5px 0px #ced4da;
  padding: 20px 100px 100px 100px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}
.submenu>li{
  width: 24%;
  text-align: center;
  line-height: 45px;
  margin: 3px;
  border: 1px solid #1ECAD3;
}
.submenu>li>a{
  display: block;
}
.menu>li:hover>a{
  border-bottom-color: #1ECAD3;
}
.submenu>li>a:hover{
  background-color: #1ECAD3;
  font-weight: 800;
}
/* hover 클래스를 만들어서 script로 */
.hover{
  border-radius: 0px;
  box-shadow: none;
}
.h_icons{
  margin-right: 40px;
}
.h_icons>li>a{
  display: block;
  margin-bottom: 10px;
}

/* 헤더 미디어 쿼리 */
@media all and (max-width: 1360px){
  .menu>li>a{
    padding: 0 30px;
  }
}
@media all and (max-width: 1024px){
  .header{
    width: 100%;
    height: 60px;
    box-shadow: none;
    border-radius: 0;
  }
  .logo{
    margin-left: 20px;
  }
  .logo img{
    width: 80%;
  }
  .menu, .h_icons{
    display: none;
  }
  .m_btn{
    display: block;
    margin-right: 30px;
    cursor: pointer;
  }

  .m_nav{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
  }
  .m_nav_bg{
    width: 100%;
    height: 100%;
    background-color: #8888;
  }
  .m_nav_wrap{
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
  }
  .m_menu_top{
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    font-size: 14px;
    background-color: #fdcc34;
  }
  .m_menu_top>a{
    margin-right: 10px;
  }
  .m_close{
    position: absolute;
    right: 25px;
    background: none;
  }
  .m_menu{
    width: 100px;
    height: 100%;
    background-color: #767676;
    color: #fff;
  }
  .m_menu>li{
    text-align: center;
    line-height: 60px;
  }
  .m_menu>li>a{
    display: block;
    font-family: 'CookieRun-Regular';
    font-size: 15px;
    border-bottom: 1px solid #aaa;
  }
  .m_menu>li:nth-last-child(1)>a{
    border: none;
    /* 줄바꿈돼서 간격조절 */
    line-height: 20px;
    padding: 15px 0;
  }
  .m_active{
    background-color: #fff;
    color: #6e4b00;
  }
  .m_submenu{
    width: 100%;
    position: absolute;
    left: 100px;
    top: 60px;
    color: #333;
    text-align: left;
    padding-left: 20px;
  }
  .m_submenu>li{
    line-height: 55px;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
  }
  .m_submenu>li>a{
    display: block;
    padding-left: 15px;
  }
  .m_submenu>li:nth-last-child(1){
    border-bottom: none;
  }
  /* m_nav 오->왼 이동 효과, 스크립트로 */
  .m_nav_wrap{
    margin-right: -300px;
    transition: all 0.5s;
  }
  .m_nav_active{
    margin-right: 0;
    transition: all 0.5s;
  }
}
@media all and (min-width: 1025px){
  .mobile{
    display: none;
  }
}


.main{
  height: 1129px;
  background: url(../imgs/b-img01.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.main_title{
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative; /* 메인 해, 새 배치용 */
  z-index: 1; /* 구름보다 위로 올라오게 */
}
.main_title>img{
  margin-top: 150px;
  margin-bottom: 30px;
}
.main_title>p{
  font-weight: 500;
}
.main_sun{
  position: absolute;
  right: calc(50% - 270px);
  top: -70px;
  animation: rotate 10s infinite;
}
.main_bird{
  position: absolute;
  left: calc(50% - 280px);
  top: -50px;
  animation: linear1 10s infinite linear;
}
.bird1{
  position: absolute;
  bottom: -20px;
  right: 25%;
  animation: linear2 8s infinite linear;
}
.bird2{
  position: absolute;
  bottom: -50px;
  right: 15%;
  animation: linear2 9s infinite linear;
}
.ship{
  position: absolute;
  right: 20%;
  top: 37%;
  animation: linear3 8s infinite;
}
.bg_plant{
  position: absolute;
  left: 0;
  bottom: 0;
}
.grass{
  display: block;
  margin-left: -150px;
}
.flower1{
  position: absolute;
  top: -50px;
  left: 65px;
  animation: flower 6s infinite;
}
.flower2{
  position: absolute;
  top: 80px;
  left: 20px;
  animation: flower 7s infinite;
}
.flower3{
  position: absolute;
  top: 90px;
  left: 170px;
  animation: flower 4s infinite;
}
.flower4{
  position: absolute;
  top: 180px;
  left: 250px;
  animation: flower 5s infinite;
}
.bg_sky{
  position: absolute;
  width: 100%;
  height: 330px;
}
.cloud1{
  position: absolute;
  top: 40%;
  left: -5%;
  animation: cloud 12s infinite;
}
.cloud2{
  position: absolute;
  top: 50%;
  left: 20%;
  animation: cloud 14s infinite;
}
.cloud3{
  position: absolute;
  bottom: 0%;
  left: 35%;
  animation: cloud 15s infinite;
}
.cloud4{
  position: absolute;
  top: 45%;
  left: 65%;
  animation: cloud 12s infinite;
}
.cloud5{
  position: absolute;
  top: 45%;
  right: -15%;
  animation: cloud 13s infinite;
}
.bird3{
  position: absolute;
  bottom: 0;
  right: -30px;
  display: block;
}


@keyframes rotate{
  100%{transform: rotate(360deg);}
}
@keyframes linear1{
  0%{transform: translate(0, 0) rotateY(180deg);}
  48%{transform: translate(-90px, 0) rotateY(180deg);}
  50%{transform: translate(-100px, 0);}
  100%{transform: translate(0, 0);}
}
@keyframes linear2{
  0%{transform: translate(0, 0) rotateY(180deg);}
  48%{transform: translate(-40px, 0) rotateY(180deg);}
  50%{transform: translate(-50px, 0);}
  100%{transform: translate(0, 0)}
}
@keyframes linear3{
  /* 왔다갔다만 하니까 50% 만 작성해도 됨 */
  50%{transform: translate(-100px, 0);}
}
@keyframes flower{
  0%{transform: scale(1) rotate(0deg);}
  10%{transform: scale(0.9) rotate(0deg);}
  50%{transform: scale(1.1) rotate(0deg);}
  55%{transform: scale(1.1) rotate(10deg);}
  60%{transform: scale(1.1) rotate(-10deg);}
  65%{transform: scale(1.1) rotate(10deg);}
  70%{transform: scale(1.1) rotate(-10deg);}
  100%{transform: scale(1) rotate(0deg);}
}
@keyframes cloud{
  50%{transform: translate(-50px, 20px)}
}


.main_contents{
  max-width: 1240px;
  width: 90%;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 40px;
}
.main_con1{
  display: flex;
  justify-content: space-between;
}
.box{
  width: 32%;
  height: 370px;
  border-radius: 16px;
  padding: 30px;
  box-sizing: border-box;
}
.con1box1{
  background-color: #e5367b;
  box-shadow: 0 5px 0px #a32658;
  color: #fff;
  position: relative;
}
.con1box1>p{
  font-family: 'CookieRun-Regular';
  font-size: 22px;
}
.con1box1 .more{
  position: absolute;
  right: 30px;
  top: 30px;
}
.notice{
  margin: 20px 0;
  font-weight: 600;
}
.notice>li{
  display: flex;
  justify-content: space-between;
  line-height: 55px;
}
.notice>li::before{
  content: "·";
  font-size: 30px;
}
.notice>li>a{
  width: 75%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.con1box2>p{
  font-family: 'CookieRun-Regular';
  font-size: 22px;
}
.con1box2{
  background-color: #0042A4;
  box-shadow: 0 5px 0px #002a68;
  color: #fff;
  position: relative;
}
.con1box2 .more{
  position: absolute;
  right: 30px;
  top: 30px;
}

.con1box3>p{
  font-family: 'CookieRun-Regular';
  font-size: 22px;
}
.con1box3{
  background-color: #ffd600;
  box-shadow: 0 5px 0px #b99e14;
}
.main_con2{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.box2{
  width: 32%;
  height: 100px;
  background-color: #fff;
  box-shadow: 0 5px 0px #ccc;
  border-radius: 12px;
  padding: 15px 20px;
  box-sizing: border-box;
}